* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(https://media.discordapp.net/attachments/598558233711608069/843814462326702130/Header.png?width=1376&height=701);
    background-repeat: no-repeat;
    background-size: cover;
    height: 966px;
    margin-bottom: 219px;
}

.upside-down {
    display: none;
}

.header-menu {
    padding-top: 20px;
    margin-left: 380px;
}

ul.menu li a {
    position: static;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    margin: 0px 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 40px;
}

ul .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    height: 40px;
}

ul.menu li {
    list-style: none;
    float: left;
}

ul.menu li a:hover {
    font-weight: 500;
}

.header-text {
    margin-top: 250px;
    margin-left: 500px;
}

.header-text h1 {
    display: table;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background-color: #FFCE50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF -74.1%, rgba(255, 255, 255, 0) 100%), #FFCE50;
    margin-bottom: 50px;
}

.header-text h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    margin-left: -55px;
    margin-bottom: 177px;
}

.contract {
    width: 208px;
    height: 38px;
    background: #FFCE50;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 650px;
    top: 510px;
    transition: .3s ease-in-out;
}

.contract:hover {
    transition: .3s ease-in-out;
    transform: scale(1.1);
}

.header-links {
    margin-left: 510px;
}

.header-links img {
    margin: 0 70px;
}

.main-about {
    height: 1033px;
    margin-top: -70px;
}

.circules {
    position: -webkit-sticky;
    z-index: 5;
    margin: 0; 
    margin-top: -155px;
}

.splash {
    position: -webkit-sticky;
    z-index: 4;
    margin-left: -650px;
    margin-bottom: 250px;
    margin-top: -100px;
}

.splash-two {
    display: none;
}

.monkey {
    position: -ms-page;
    z-index: 1;
    margin-top: -1800px;
    margin-bottom: 180px;
    height: 853px;
    width: 903px;
}

.about-text h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 38px;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
}

.about-text h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.03em;
}

.about-text {
    margin-left: 781px;
    margin-top: -820px;
}

.lines {
    margin-left: 1000px;
    margin-top: -640px;
    position: -webkit-sticky;
    z-index: 5;
}

.chart {
    position: -ms-page;
    z-index: 1;
    margin-top: -5px;
    height: 1061px;
    background-color: #383838;
    box-shadow: 0px -6px 6px rgba(0, 0, 0, 0.25);
}

.chart-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #fff;
    padding-top: 150px;
    margin-left: 462px;
}

.chart-text ul li {
    list-style: none;
}

span {
    background-color: #FFCE50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF -74.1%, rgba(255, 255, 255, 0) 100%), #FFCE50;
}

.chart-circ {
    position: -webkit-sticky;
    z-index: 5;
    float: right;
    margin-top: -350px;
}

.rocket {
    position: -ms-page;
    z-index: 1;
    margin-left: 750px;
    margin-top: -1160px;
    margin-bottom: 400px;
    width: 765px;
    height: 705px;
}

.one {
    position: absolute;
    top: 2450px;
    left: -200px;
    background: linear-gradient(180deg, #383838 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    width: 625px;
}

.two {
    position: absolute;
    top: 2761.9px;
    left: 111px;
    background: linear-gradient(180deg, #383838 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 700px;
}

.three {
    display: none;
}

.four {
    display: none;
}

.first {
    background: linear-gradient(0deg, #383838 1.93%, rgba(255, 255, 255, 0) 152.2%), #FFFFFF;
    position: absolute;
    width: 100px;
    height: 500px;
    top: 2261px;
    left: 150px;   
    text-orientation: upright; 
}

.first h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -25px;
    margin-right: 25px;
    margin-top: 420px;
}

.second {
    width: 100px;
    height: 250px;
    position: absolute;
    background: linear-gradient(0deg, #383838 0%, rgba(255, 255, 255, 0) 205%), #FFFFFF;
    top: 2501px;
    left: 280px;
}

.second h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -25px;
    margin-right: 25px;
    margin-top: 180px;
}

.fifth {
    width: 100px;
    height: 250px;
    position: absolute;
    background: linear-gradient(0deg, #383838 0%, rgba(255, 255, 255, 0) 205%), #FFFFFF;
    top: 2501px;
    left: 410px;
}

.fifth h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -25px;
    margin-right: 25px;
    margin-top: 180px;
}

.third {
    position: absolute;
    width: 100px;
    height: 20px;
    background: linear-gradient(360deg, #383838 0%, rgba(255, 255, 255, 0) 350%), #FFFFFF;
    top: 2730px;
    left: 535px;
}

.third h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -25px;
    margin-right: 25px;
    margin-top: -50px;
}

.fourth {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 2710px;
    left: 665px;
    background: linear-gradient(0deg, #383838 0%, rgba(255, 255, 255, 0) 171.25%), #FFFFFF;
}

.fourth h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -25px;
    margin-right: 25px;
    margin-top: -30px;
}

.tokens {
    display: none;
}

.readmap {
    height: 1350px;
}

.months {
    margin-top: -500px;
}

.sin {
    width: 1519.5px;
    height: 215px;
    margin-top: 500px;
}

.new-line {
    display: none;
}

.new-line-two {
    display: none;
}

.may {
    margin-left: 162px;
    margin-top: -60px;
    margin-bottom: 60px;
}

.june {
    margin-left: 500px;
    margin-top: -175px;
    margin-bottom: 175px;
}

.july {
    margin-left: 500px;
    margin-top: -225px;
    margin-bottom: 225px;
}

.ar-one {
    margin-left: 186px;
    margin-top: -300px;
    margin-bottom: 300px;
}

.ar-two {
    margin-left: 560px;
    margin-top: -417px;
    margin-bottom: 417px;
}

.ar-three {
    margin-left: 550px;
    margin-top: -440px;
    margin-bottom: 440px
}

.new-one {
    display: none;
}

.new-two {
    display: none;
}

.new-three {
    display: none;
}

.btn-may {
    position: absolute;
    cursor: pointer;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #383838;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #fff;
    transition: .2s ease-in-out;
    margin-left: -58px;
    top: 3620px;
}

.btn-may:hover {
    border: 8px solid #777777;
    transition: .2s ease-in-out;
    transform: scale(1.1);
}

.btn-june {
    position: absolute;
    cursor: pointer;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #383838;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #fff;
    transition: .2s ease-in-out;
    margin-left: -58px;
    top: 3500px;
}

.btn-june:hover {
    border: 8px solid #777777;
    transition: .2s ease-in-out;
    transform: scale(1.1);
}

.btn-july {
    position: absolute;
    cursor: pointer;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #383838;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #fff;
    transition: .2s ease-in-out;
    margin-left: -54px;
    top: 3480px;
}

.btn-july:hover {
    border: 8px solid #777777;
    transition: .2s ease-in-out;
    transform: scale(1.1);
}

.sin-btns {
    margin-top: 200px;
}

.may-content {
    display: none;
    margin-left: 520px;
    width: 142px;
    height: 144px;
    background: #383838;
}

.may-content h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.01em;
    background-color: #FFCE50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF -74.1%, rgba(255, 255, 255, 0) 100%), #FFCE50;
    text-align: center;
    padding-top: 30%;
}

.description {
    position: absolute;
    margin-left: 170px;
    margin-top: -25px;
}

.description ul.des li {
    list-style-type: "-";
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 20px;
}

.june-content {
    display: none;
    margin-left: 520px;
    width: 142px;
    height: 144px;
    background: #383838;
}

.june-content h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.01em;
    background-color: #FFCE50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF -74.1%, rgba(255, 255, 255, 0) 100%), #FFCE50;
    text-align: center;
    padding-top: 30%;
}

.july-content {
    display: none;
    margin-left: 620px;
    width: 142px;
    height: 144px;
    background: #383838;
}

.july-content h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.01em;
    background-color: #FFCE50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF -74.1%, rgba(255, 255, 255, 0) 100%), #FFCE50;
    text-align: center;
    padding-top: 30%;
    padding-left: 27px;
}

footer {
    margin-top: 2100px;
    background-color: #383838;
    background-repeat: no-repeat;
    background-size: cover;
    height: 589px;
}

ul.footer {
    padding-top: 93px;
    margin-left: 240px;
}

ul.footer li a {  
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: lowercase;
}

ul.footer li a:hover {
    font-weight: 500;
}

ul.footer li {
    list-style: none;
    padding-bottom: 40px;
}

.footer-text {
    margin-left: 500px;
    margin-top: -300px;
}

.footer-text h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background-color: #FFCE50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF -74.1%, rgba(255, 255, 255, 0) 100%), #FFCE50;
}

.footer-text h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    margin-left: -55px;
}

.footer-buttons ul.btns li {
    list-style: none;
    padding-bottom: 40px;
}

ul.btns {
    margin-top: -140px;
    margin-left: 1350px;
}

.footer-monke {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -218px;
    margin-left: 320px;
}

.footer-circules {
    margin-top: -405px;
    float: right;
}


@media(max-width: 768px) {

    header {
        background-image: url(https://cdn.discordapp.com/attachments/598558233711608069/843968855650598962/Rectangle_16_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 768px;
        height: 475px;
    }

    .upside-down {
        display: block;
        margin-left: 39px;
        padding-top: 25px;
    }

    #okno {
        display: none;
    }

    #okno:target {
        display: block;
    }

    ul.menu li {
        font-family: 'Roboto', sans-serif;
        list-style: none;
        float: none;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-transform: lowercase;
    }

    ul.menu {
        margin-left: -381px;
    }

    .header-text {
        margin-left: 250px;
        margin-top: -170px;

    }

    .header-text h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    .header-text h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin-left: -10px;
    }

    .tg img {
        margin-top: -270px;
        margin-bottom: 430px;
        margin-left: 200px;
        height: 15px;
        width: 17px;
    }

    .tw img {
        margin-top: -400px;
        margin-bottom: 400px;
        margin-left: 200px;
        height: 15px;
        width: 17px;
    }

    .dx img {
        margin-top: -370px;
        margin-bottom: 370px;
        margin-left: 200px;
        height: 15px;
        width: 20px;
    }

    .contract {
        width: 160px;
        height: 29px;
        background: #FFCE50;
        border-radius: 8px; 
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        margin-left: -325px;
        margin-top: -200px;
    }

    .circules {
        display: none;
    }

    .lines {
        display: none;
    }

    .splash {
        display: flex;
        z-index: 4;
        margin-top: 1500px;
        width: 162px;
        height: 151px;
    }

    .splash-two {
        position: absolute;
        display:run-in;
        width: 162px;
        height: 151px;
        top: 560px;
        left: 310px;
        z-index: 4;
    }

    .monkey {
        display: flex;
        width: 249px;
        height: 236px;
        margin-left: 290px;
        z-index: 1;
    }

    .about-text h1{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-left: -740px;
        margin-top: -1310px;
    }

    .about-text h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-left: -740px;
        margin-bottom: 40px;
    }

    .chart-circ {
        margin-top: -350px; 
    }

    ul.about {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px; 
        letter-spacing: 0.01em;
        margin-left: -100px;
    }

    .chart {
        height: 680px;
        width: 768px;
    }

    .rocket {
        width: 0px;
        height: 0px;
    }

    .three {
        position: absolute;
        width: 372px;
        height: 0px;
        left: -68px;
        top: 1363.5px;   
        background: linear-gradient(180deg, #383838 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        border: 1px solid #fff;
        transform: rotate(90deg);
        display: block;
    }

    .four {
        position: absolute;
        width: 501px;
        height: 0px;
        left: 120px;
        top: 1550px;
        background: linear-gradient(180deg, #383838 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        border: 1px solid #FFFFFF;
        display: block;
    }

    .first {
        background: linear-gradient(0deg, #383838 1.93%, rgba(255, 255, 255, 0) 152.2%), #FFFFFF;
        position: absolute;
        width: 60px;
        height: 297px;
        top: 1250px;
        left: 150px;   
        text-orientation: upright; 
    }

    .first h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;     
        color: #FFFFFF;;
        transform: rotate(-90deg);
        margin-left: -50px;
        margin-right: 25px;
        margin-top: 235px;
    }

    .second {
        width: 59px;
        height: 148px;
        position: absolute;
        background: linear-gradient(0deg, #383838 0%, rgba(255, 255, 255, 0) 205%), #FFFFFF;
        top: 1400px;
        left: 245px;
    }
    
    .second h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;  
        color: #FFFFFF;
        transform: rotate(-90deg);
        margin-left: -50px;
        margin-right: 25px;
        margin-top: 90px;
    }

    .fifth {
        width: 59px;
        height: 148px;
        position: absolute;
        background: linear-gradient(0deg, #383838 0%, rgba(255, 255, 255, 0) 205%), #FFFFFF;
        top: 1400px;
        left: 340px;
    }
    
    .fifth h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        transform: rotate(-90deg);
        margin-left: -50px;
        margin-right: 25px;
        margin-top: 90px;
    }

    .third {
        position: absolute;
        width: 60px;
        height: 11px;
        background: linear-gradient(360deg, #383838 0%, rgba(255, 255, 255, 0) 350%), #FFFFFF;
        top: 1533px;
        left: 430px;
    }
    
    .third h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        transform: rotate(-90deg);
        margin-left: -50px;
        margin-right: 25px;
        margin-top: -46px;
    }

    .fourth {
        position: absolute;
        width: 60px;
        height: 23px;
        top: 1520px;
        left: 520px;
        background: linear-gradient(0deg, #383838 0%, rgba(255, 255, 255, 0) 171.25%), #FFFFFF;
    }
    
    .fourth h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em
        color: #FFFFFF;
        transform: rotate(-90deg);
        margin-left: -50px;
        margin-right: 25px;
        margin-top: -30px;
    }

    .tokens {
        position: absolute;
        width: 434px;
        display: flex;
        margin-top: -920px;
        top: 2550px;
        margin-left: 180px;
    }

    .tokens h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px; 
        color: #FFFFFF;
    }

    .sin {
        display: none;
    }

    .may {
        display: none;
    }

    .june {
        display: none;
    }

    .july {
        display: none;
    }

    .ar-one {
        display: none;
    }

    .ar-two {
        display: none;
    }

    .ar-three {
        display: none;
    }

    .btn-may {
        margin-left: 150px;
        margin-top: -1600px;
    }

    .new-one {
        position: absolute;
        display: block;
        margin-left: 230px;
        top: 2030px;
    }

    .month {
        display: none;
        background: none;
        width: 0;
        height: 0;
    }

    .may-content {
        display: block;
        background: none;
    }

    .description {
        margin-left: 500px;
    }

    ul.des li {
        font-family: 'Roboto', sans-serif !important;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 14px !important;
        line-height: 20px !important;
        letter-spacing: 0.01em !important;
        width: 215px !important;
        height: 240px !important;
        margin-bottom: -590px !important;
        position: static;
        top: 300px;
        left: -600px;
        width: 384px !important;
        height: 420px !important;
        margin-left: -700px;
        margin-top: 220px;
    }

    .new-line {
        position: absolute;
        display: block;
        margin-left: 170px;
        top: 2100px;
    }

    .btn-june {
        margin-left: 305px;
        margin-top: -1150px;
    }

    .new-two {
        position: absolute;
        display: block;
        margin-left: 370px;
        top: 2350px;
    }

    .june-content {
        display: block;
        background: none;
    }

    .june-content ul.des {
        margin-top: 600px;
        margin-left: 50px;
    }

    .new-line-two {
        display: block;
        position: absolute;
        top: 2422px;
        margin-left: 185px;
    }

    .btn-july {
        margin-left: 477px;
        margin-top: -650px;
    }

    .new-three {
        position: absolute;
        display: block;
        margin-left: 525px;
        top: 2910px;
    }

    .july-content {
        display: block;
        background: none;
    }

    .july-content ul.des {
        margin-top: 870px;
        margin-left: 180px;
    }

    footer {
        width: 768px;
        height: 679px;
        background: #383838;
        margin-top: 200px;
    }

    .footer-circules {
        margin-top: -256px;
    }
    
    ul.footer li {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-transform: lowercase;
    }

    ul.footer {
        margin-left: 39px;
        margin-top: -50px;
    }

    .footer-menu .upside-down {
        padding-top: 51px;
        margin-left: 39px;
    }

    .footer-text h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin-left: -200px;
        margin-top: -350px;
        margin-bottom: 15px;
    }

    .footer-text h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin-left: -210px;
    }

    .footer-text {
        margin-left: 420px;   
    }

    .footer-monke {
        margin-left: 160px;
        width: 408px;
        height: 261px;
        margin-top: -50px;
    }

    ul.btns {
        margin-left: 650px;
    }

}